.assets-title {
	padding: 30px;
}

.assets-link p {
	font-family: FuturaNext, sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.link-to-assets {
	max-width: 375px;
	height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
}

.link-to-assets svg {
	fill: #FE414D;
}

@media only screen and (max-width: 405px) {
	.assets-image, .assets-image img {
		width: 100%;
	}
}

@media only screen and (min-width: 405px) {
	.assets-image {
		padding-left: 30px;
		padding-right: 30px;
	}
}