.assets-title {
	padding: 30px 30px 0 30px;
}

.assets-image img {
	max-width: 405px;
}

@media only screen and (max-width: 405px) {
	.assets-image, .assets-image img {
		width: 100%;
	}
}

@media only screen and (min-width: 406px) {
	.assets-image {
		padding-left: 30px;
		padding-right: 30px;
	}
}