.banner {
	height: 100px;
	background-color: var(--ps-red);
}

.banner-content {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

.banner-content h1 {
	font-weight: 400;
	font-size: 35px;
	color: var(--white);
	align-self: center;
}

.banner-logo svg {
	fill: var(--white);
	width: 100px;
	height: 100px;
}