.color-black {background-color: var(--black);}
.color-ps-red {background-color: var(--ps-red);}
.color-white {background-color: var(--white);}
.color-blue {background-color: #079FFF;}
.color-yellow {background-color: #FFE63B;}
.color-turquoise {background-color: #00E6C3}
.color-grey {background-color: #B4B4B4;}
.color-orange {background-color: #FF7B5C;}
.color-sky-blue {background-color: #04C2E2;}
.color-light-orange {background-color: #F5AA6D;}
.color-purple {background-color: #9E97F2;}
.color-magenta {background-color: #D576C8;}
.color-light-green {background-color: #9CE361;}
.color-light-grey {background-color: var(--light-grey);}

.content.colors-page {
    max-width: 100%
}

.colors-title {
	padding: 30px 30px 0 30px;
}

.colors-title p {
	font-size: 14px;
	opacity: 0.6;
	margin-top: 3px;
}

.main-colors {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid var(--light-grey);
}

.main-colors, .not-main-colors {
	padding-top: 30px;

}

.main-colors button, .not-main-colors button {
	text-align: left;
	outline: none;
	border: none;
}

.main-colors button {
	height: 190px;
	width: 50%;
	padding: 10px;
	position: relative;
	display: flex;
	justify-content: center;
}

.main-colors svg {
	position: absolute;
	left: calc(100% - 50px);
	bottom: calc(100% - 50px);
}

.main-colors button:hover, .not-main-colors button:hover {
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5) inset;
	transition: 0.5s;
	cursor: pointer;
}

.color-black:hover {
	box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.5) inset !important;
}

.not-main-colors {
	display: flex;
    flex-wrap: wrap;
}

.not-main-colors button {
	height: 50px;
	width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 5px;
}

.color-content {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.color-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.color-name {
	font-size: 20px;
}

.color-attributes {
	line-height: 24px;
}

.primary-secondary {
	font-weight: 100;
}

.white-font, .not-main-colors .color-name, .not-main-colors svg {
	color: var(--white);
	fill: var(--white);
}

.copy-text {
  background-color: rgba(85, 85, 85, 0.95);
  color: var(--white);
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  opacity: 0;
  font-weight: 700;
  font-size: 11px;
  width: 88px;
  text-align: center;
  transition: 0.5s;
}

.main-colors .copy-text {
	margin-top: 52px;
}

.main-colors button:hover .copy-text, .not-main-colors button:hover .copy-text{
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 374px) {
	.main-colors button {
		width: 100vw;
		height: 170px;	

	}

	.not-main-colors button {
		width: 100vw;
		height: 80px;
	}
}

@media only screen and (min-width: 375px) and (max-width: 767px){
	.main-colors button, .not-main-colors button {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1279px){
	.main-colors button, .not-main-colors button  {
		width: calc(100% / 4);
	}
}

@media only screen and (min-width: 1280px) {
	.main-colors button, .not-main-colors button  {
		width: calc(100% / 7);
	}
}

@media only screen and (min-width: 1024px) {
	.colors-content {
		max-width: 1200px;
		margin: 0 auto;
	}
}