 .colors-title {
	padding: 30px;
}

.colors-title p {
	font-family: FuturaNext, sans-serif;
	font-weight: 400;
	font-size: 14px;
	opacity: 0.6;
	margin-top: 3px;
}

.main-colors {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid var(--light-grey);
}

.main-colors button {
	height: calc(375px / 2);
	width: 50%;
	max-width: calc(375px / 2);
	padding: 10px;
	text-align: left;
	border: none;
}

.main-colors button:hover, .not-main-colors button:hover {
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5) inset;
	transition: 0.5s;
	cursor: pointer;
}

.color-black:hover {
	box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.5) inset !important;
}

.not-main-colors {
	display: flex;
    flex-wrap: wrap;
}

.not-main-colors button {
	height: 50px;
	width: 50%;
    max-width: calc(375px / 2);
    text-align: left;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 5px;
	font-family: FuturaNext, sans-serif;
}

.color-content {
	font-family: FuturaNext, sans-serif;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.color-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.color-attributes {
	line-height: 24px;
}

.primary-secondary {
	font-weight: 100;
}

.color-attributes {
	font-weight: 400;
}

.white-font, .not-main-colors h1, .not-main-colors svg {
	color: var(--white);
	fill: var(--white);
}

.color-black {background-color: var(--black);}
.color-ps-red {background-color: var(--ps-red);}
.color-white {background-color: var(--white);}
.color-blue {background-color: #079FFF;}
.color-yellow {background-color: #FFE63B;}
.color-turquoise {background-color: #00E6C3}
.color-grey {background-color: #B4B4B4;}
.color-orange {background-color: #FF7B5C;}
.color-sky-blue {background-color: #04C2E2;}
.color-light-orange {background-color: #F5AA6D;}
.color-purple {background-color: #9E97F2;}
.color-light-yellow {background-color: #FFD53B;}
.color-magenta {background-color: #D576C8;}
.color-light-green {background-color: #9CE361;}
.color-light-grey {background-color: var(--light-grey);}

.copy-text {
  background-color: rgba(85, 85, 85, 0.95);
  color: var(--white);
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  opacity: 0;
  font-family: FuturaNext, sans-serif;
  font-weight: 700;
  font-size: 11px;
  width: 88px;
  text-align: center;
  transition: 0.5s;
}

.main-colors .copy-text {
	margin-top: 52px;
	margin-left: 35px;
}

.main-colors button:hover .copy-text, .not-main-colors button:hover .copy-text{
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 447px) {
	.main-colors, .not-main-colors {
		margin-left: 30px;
	}
}

@media only screen and (min-width: 376px) and (max-width: 446px){
	.main-colors, .not-main-colors {
		justify-content: center;
	}
}