@import url('https://fonts.googleapis.com/css?family=Lato:400');
@import url('https://fonts.googleapis.com/css?family=Oswald:400');

.fonts-title {
	padding: 30px 30px 10px 30px;
}

.fonts-title h2 {
	margin-bottom: 20px;
}

.fonts-title p {
	font-size: 14px;
}

.red-text {
	margin-bottom: 20px;
	color: var(--ps-red);
}

.fonts-title span {
	font-weight:  700;
	color: var(--black);
}

.text-file-size {
	color: var(--dark-grey);
}

.fonts-container {
	border-bottom: 1px solid var(--light-grey);
    padding-bottom: 20px;
}

.font-preview {
	border-top: 1px solid var(--light-grey);
	margin: 20px 30px 0 30px;
	padding-top: 30px;
}

.font-preview h4 {
	color: var(--ps-red);
	font-weight: 400;
	font-size: 16px;
}

.single-font-container {
	display : flex;
	flex-direction: column;
	justify-content: space-between;
}

.fonts-container:nth-child(3) .single-font-container:first-child h4 {
	margin-top: 20px;
}

.fonts-container:nth-child(3) .single-font-container:nth-child(2) h4, .fonts-container:nth-child(6) .single-font-container:first-child h4 {
	margin-top: 12px;
}

.fonts-container:nth-child(6) .single-font-container:nth-child(2) h4 {
	margin-top: 18px;
}

.font-preview p {
	color: var(--ps-red);
	font-size: 14px;
	margin-top: 20px;
}

.font-preview img {
	width: 100%;
	max-width: 400px;
	margin-top: 10px;
}

.fonts-container:nth-child(3) .single-font-container:nth-child(2) h3 {
	font-family: MinionPro, serif;
	font-weight: 300;
	font-size: 24px;
}

.fonts-container:nth-child(6) .single-font-container:first-child h3 {
	font-family: Oswald, sans-serif;
	font-weight: 400;
}

.fonts-container:nth-child(6) .single-font-container:nth-child(2) h3 {
	font-family: Lato, sans-serif;
	font-weight: 400;
}

@media only screen and (min-width: 1024px) {
	.fonts-container {
		display: flex;
		border-top: 1px solid var(--light-grey);
		margin: 20px 30px 0 30px;
	}

	.single-font-container {
		border-top: none;
	}

	.single-font-container:first-child {
		margin: 0 10% 0 0;
	}
	
	.single-font-container:nth-child(2), .single-font-container .download-box {
		margin: 0;
	}

	.font-preview {
		border-top: none;
		margin: 0;
	}

	.fonts-container:nth-child(3) .single-font-container:first-child img:last-child {
		margin-bottom: 29px;
	}

	.fonts-container:nth-child(6) .single-font-container:first-child .font-preview img:last-child {
		margin-bottom: 24px;
	}
}