.menu-footer {
	height: 50px;
	width: 100%;
  	position: fixed;
  	bottom: 0;
	display: flex;
	justify-content: center;
	background-color: var(--white);
	border-top: 1px solid var(--light-grey);
}

.menu-footer a {
	margin: 0 10px;
}

.menu-footer a:hover, .active {
	fill: var(--ps-red);
}

@media only screen and (min-width: 1024px) {
	.menu-footer {
		top: 0;
		right: 60px;
		width: auto;
		z-index: 2;
		background: none;
		position: fixed;
	}
}

@media only screen and (max-width: 333px) {
	.menu-footer {
		justify-content: space-around;
	}

	.menu-footer a {
		margin: 0;
	}
}