.menu-footer {
	width: 100%;
  	position: fixed;
  	bottom: 0;
	display: flex;
	justify-content: center;
	height: 50px;
	overflow: hidden;
	background-color: var(--white);
	border-top: 1px solid var(--light-grey);
}

.menu-footer a {
	margin-right: 10px;
	margin-left: 10px;
}

.active svg{
	fill: var(--ps-red);
}

@media only screen and (min-width: 1024px) {
	.menu-footer {
		top: 0;
		right: 60px;
		width: auto;
		z-index: 2;
		background: none;
		position: absolute;
	}
}