@font-face {
  font-family: 'FuturaNext';
  font-weight: 100;
  src: url("../../fonts/futura-next/FuturaNext_Light.otf") format("opentype");
}

@font-face {
  font-family: 'FuturaNext';
  font-weight: 400;
  src: url("../../fonts/futura-next/FuturaNext_Book.otf") format("opentype");
}

@font-face {
  font-family: 'FuturaNext';
  font-weight: 700;
  src: url("../../fonts/futura-next/FuturaNext_Medium.otf") format("opentype");
}

@font-face {
  font-family: 'MinionPro';
  font-weight: 300;
  src: url("../../fonts/minion/MinionPro-Regular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

a, h1, h2, h3, h4, p, span {
  font-family: FuturaNext, sans-serif;
}

:root {
  --ps-red: #FE414D;
  --black: #000000;
  --white: #FFFFFF;
  --light-grey: #DEDEDE;
}

.content {
  margin-bottom: 51px;
}

.download-box {
  max-width: 375px;
  height: 50px;
  margin: 10px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  fill: var(--ps-red);
}

.download-box:hover .on-hover{
  color: var(--ps-red);
  text-decoration: underline;
}

.download-link p {
  font-weight: 400;
  font-size: 14px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}


@media only screen and (min-width: 1024px) {
  .content {
    max-width: 1200px;
    margin: 0 auto;
  }
}