@font-face {
  font-family: 'FuturaNext';
  font-weight: 100;
  src: url("../../fonts/futura-next/FuturaNext_Light.otf") format("opentype");
}

@font-face {
  font-family: 'FuturaNext';
  font-weight: 400;
  src: url("../../fonts/futura-next/FuturaNext_Book.otf") format("opentype");
}

@font-face {
  font-family: 'FuturaNext';
  font-weight: 700;
  src: url("../../fonts/futura-next/FuturaNext_Medium.otf") format("opentype");
}

@font-face {
  font-family: 'MinionPro';
  font-weight: 300;
  src: url("../../fonts/minion/MinionPro-Regular.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css?family=Lato:400');

@import url('https://fonts.googleapis.com/css?family=Oswald:400');

* {
  margin: 0;
  padding: 0;
}

a, h1, h2, h3, h4, p, span {
  font-family: FuturaNext, sans-serif;
}

h2 {
  font-size: 20px;
}

:root {
  --ps-red: #FE414D;
  --black: #000000;
  --white: #FFFFFF;
  --light-grey: #DEDEDE;
  --dark-grey: #B4B4B4;
}

.content {
  margin-bottom: 51px;
  overflow-x: hidden;
}

.download-box {
  height: 50px;
  max-width: 375px;
  margin: 10px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  fill: var(--ps-red);
}

.download-box:hover .on-hover{
  color: var(--ps-red);
  text-decoration: underline;
}

.download-link p {
  font-size: 14px;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-border-bottom {
  border-bottom: none;
}

.color-black {background-color: var(--black);}
.color-ps-red {background-color: var(--ps-red);}
.color-white {background-color: var(--white);}
.color-blue {background-color: #079FFF;}
.color-yellow {background-color: #FFE63B;}
.color-turquoise {background-color: #00E6C3}
.color-grey {background-color: var(--dark-grey);}
.color-orange {background-color: #FF7B5C;}
.color-sky-blue {background-color: #04C2E2;}
.color-light-orange {background-color: #F5AA6D;}
.color-purple {background-color: #9E97F2;}
.color-magenta {background-color: #D576C8;}
.color-light-green {background-color: #9CE361;}
.color-light-grey {background-color: var(--light-grey);}
.color-xebia-purple {background-color: #6C1D5F;}
.color-xebia-blue {background-color: #2C374C;}
.color-xebia-beige {background-color: #C7B299;}
.color-xebia-yellow {background-color: #FBB03B;}
.color-xebia-grey {background-color: #666666;}

@media only screen and (min-width: 1024px) {
  .content {
    max-width: 1200px;
    margin: 0 auto 50px auto;
  }
}