@font-face {
  font-family: 'FuturaNext';
  font-weight: 100;
  src: url("../../fonts/futura-next/FuturaNext_Light.otf") format("opentype");
}

@font-face {
  font-family: 'FuturaNext';
  font-weight: 400;
  src: url("../../fonts/futura-next/FuturaNext_Book.otf") format("opentype");
}

@font-face {
  font-family: 'FuturaNext';
  font-weight: 700;
  src: url("../../fonts/futura-next/FuturaNext_Medium.otf") format("opentype");
}

@font-face {
  font-family: 'MinionPro';
  font-weight: 300;
  src: url("../../fonts/minio/MinionPro-Regular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
} 

.content {
  margin-bottom: 51px;
}

.download-box {
  max-width: 375px;
  height: 50px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
  fill: #FE414D;
}

.download-link p {
  font-family: FuturaNext, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1 {
  font-family: FuturaNext, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

@media only screen and (min-width: 1024px) {
  .content {
    padding-left: 120px;
    padding-right: 120px;
  }
}