.logos-title {
	padding: 30px;
	border-bottom: 1px solid var(--light-grey);
}

.logos-title p {
	padding-top: 20px;
	color: var(--ps-red);
	font-weight: 100;
	font-size: 14px;
}

.logos-title p span {
	font-weight: 400;
}

.pse-logo-download, .click-to-download{
	position: relative;
	display: flex;
	justify-content: center;
}

.pse-logo-download.rectangle{
	height: 110px;
	padding-left: 30px;
	padding-right: 30px;
}

.pse-logo-download.square {
	width: 50%;
	max-height: 188px;
	border: 1px solid var(--light-grey);
	padding: 10px;
}

.dark {
	background-color: black;
}

.logo-preview, .click-to-download {
	width: 100%;
}

.logo-preview.rectangle {
	max-width: 482px;
}

.logo-preview.square{
	max-width: 188px;
}

.download-button svg {
	position: absolute;
	left: calc(100% + 2px);
	bottom: 75%;
}

.download-button.square svg {
	left: calc(100% - 20px);
	bottom: calc(100% - 20px);
}

.square-container {
	display: flex;
	justify-content: center;
}

@media only screen and (min-width: 1024px) {
	.logos-title {
		padding: 30px 30px 0 30px;
		border-bottom: none;
	}

	.pse-logo-download.rectangle {
		border: 1px solid var(--light-grey);
	}

	.logos-download {
		display: flex;
		padding: 30px 30px 0 30px;
	}

	.pse-logo-download, .square-container {
		width: 100%;
	}

	.logo-preview.rectangle {
		max-width: 315px;
	}
}