.logos-title {
	padding: 30px;
	border-bottom: 1px solid #DEDEDE;
}

.logos-title p {
	font-family: FuturaNext, sans-serif;
	padding-top: 20px;
	color: var(--ps-red);
	font-weight: 100;
	font-size: 14px;
}

.logos-title p span {
	font-weight: 400;
}

/*-------*/

.pse-logo-download, .click-to-download{
	display: flex;
	justify-content: center;
}

.pse-logo-download.rectangle{
	height: 110px;
	padding-left: 30px;
	padding-right: 30px;
}

.pse-logo-download.square {
	width: 50%;
	max-height: 188px;
	border: 1px solid #DEDEDE;
	padding: 10px;
}

.white{
	background-color: black;
}

/*-------*/

.logo-preview, .click-to-download {
	width: 100%;
}

.logo-preview.rectangle {
	max-width: 482px;
}

.logo-preview.square{
	max-width: 188px;
}

/*-------*/

.download-button {
	width: 1px;
}

.download-button svg {
	fill: var(--ps-red);
	position: relative;
	right: 20px;
}

.download-button.square svg {
	right: 40px;
}

/*-------*/

.square-container {
	display: flex;
	justify-content: center;
}

/*-------*/

@media only screen and (min-width: 1024px) {

	.logos-title {
		border-bottom: none;
	}

	.pse-logo-download.rectangle {
		border: 1px solid #DEDEDE;
	}

	.logos-download {
		display: flex;
		padding-left: 30px;
    	padding-right: 30px;
	}

	.pse-logo-download, .square-container {
		width: 100%;
	}
}