.logos-title {
	padding: 30px;
	border-bottom: 1px solid var(--light-grey);
}

.logos-title p {
	padding-top: 20px;
	color: var(--ps-red);
	font-weight: 100;
	font-size: 14px;
}

.logos-title p span {
	font-weight: 400;
}

.logos-txt {
	font-size: 14px;
	font-weight: 500 ! important;
	color: var(--black) ! important;
}

.logos-txt p {
	padding: 30px 30px 10px 30px;
	font-weight: 700;
}

.logo-download-box, .click-to-download{
	position: relative;
	display: flex;
	justify-content: center;
}

.click-to-download:hover .download-button {
	opacity: 1;
} 

.logo-download-box.rectangle{
	height: 110px;
	padding-left: 30px;
	padding-right: 30px;
}

.logo-download-box.circle{
}


.logo-download-box.square {
	width: 50%;
	height: 188px;
	border: 1px solid var(--light-grey);
}

.dark {
	background-color: black;
}

.logo-preview, .click-to-download {
	align-items: center;
	width: 100%;
}

.logo-preview.circle {
	max-height: 340px;
}

.logo-preview.rectangle {
	max-width: 482px;
	max-height: 50px;
}

.logo-preview.square{
	max-height: 50px;
}

.download-button {
	position: absolute;
	right: 6px;
	top: 6px;
	opacity : 0;
	transition: opacity 0.5s ease;

}

.download-button.light svg g path {
	fill : #fe414d;
}

.download-button.light svg g path {
	fill : white;
}

.download-button.square svg {
	left: calc(100% - 20px);
	bottom: calc(100% - 20px);
}


.download-button.circle svg {
	left: calc(100% - 20px);
	bottom: calc(100% - 20px);
}

.border-logo-white {
	border: 1px solid var(--light-grey);
	border-radius: 1px 0px 1px 1px;
}

.square-container {
	display: flex;
	justify-content: center;
}

@media only screen and (min-width: 1024px) {
	.logos-title {
		padding: 30px 30px 0 30px;
		border-bottom: none;
	}

	.logo-download-box.rectangle {
		border: 1px solid var(--light-grey);
	}

	.logos-download {
		display: flex;
		padding: 30px 30px 0 30px;
	}

	.logo-download-box, .square-container {
		width: 100%;
	}

	.logo-preview.rectangle {
		max-width: 315px;
	}

	.no-padding-top {
		padding-top: 0;
	}
}