.header {
	height: 50px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #EEEEEE;
	z-index: 2;
	background-color: var(--white);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.logo {
	padding: 9px 0 8px 15px;
}

.logo a img {
	height: 34px;
}


.menu {
    height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: var(--white);
	overflow-x: hidden;
}

.menu-is-open {
	height: 100%;
}

.activated {
	transition: 0.4s;
}

.menu-button {
	border: none;
  	background: none;
	width: 50px;
	margin-right: 10px;
}

.menu-button:hover {
	cursor: pointer;
}

.menu-button:focus {
	outline: none;
}

.line {
	height: 2px;
	margin-bottom: 5px;
	background-color: var(--black);
	transition: 0.4s;
}

.line-top {
	width: 30px;
	margin-left: 10px;
}

.line-bottom {
	width: 15px;
	margin-left: 25px;
}

.line-is-open {
	background-color: var(--ps-red);
}

.line-top.line-is-open {
	transform: translateY(5px) rotate(45deg);
}

.line-bottom.line-is-open {
	transform: translateY(-1.5px) rotate(-45deg);
	width: 30px;
	margin-left: 10px;
}

.menu-box {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-left: 30px;
}

.menu-box a {
	font-size: 14px;
	color: var(--black);
	border-top: 1px solid #EEEEEE;
	padding: 19px 0 15px 0;
	text-decoration: none;
}

.menu-box a:hover {
	color: var(--ps-red);
}

.menu-box a:first-child {
	border-top: none;
}

@media only screen and (min-width: 1024px) {
	.menu {
		height: 100%;
	    left: 100%;
	    border-left: solid 1px var(--dark-grey);
	}

	.menu-is-open {
		left: calc(100% - 400px);
	}
}