.header {
	height: 50px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #B2B2B2;
	position: relative;
	z-index: 2;
}

.logo {
	padding: 13px 0 12px 20px;
}

.menu {
    height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: white;
	overflow-x: hidden;
	transition: 0.4s;
}

.menu.menu-is-open {
	height: 100%;
}

.menu-button {
	display: block;
	border: none;
  	background: none;
	width: 50px;
	margin-right: 10px;
	float: right;
}

.menu-button:focus {
	outline: none;
}

.line {
	height: 2px;
	margin-bottom: 5px;
	background-color: black;
	position: relative;
	transition: 0.4s;
}

.line-top {
	width: 30px;
	margin-left: 10px;
}

.line-bottom {
	width: 15px;
	margin-left: 25px;
}

.line-is-open {
	background-color: #FE414D;
}

.line-top.line-is-open {
	transform: translateY(5px) rotate(45deg);
}

.line-bottom.line-is-open {
	transform: translateY(-1.5px) rotate(-45deg);
	width: 30px;
	margin-left: 10px;
}

.menu-box {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-left: 30px;
}

.menu-box-single {
	font-family: FuturaNext, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: black;
	border-top: 1px solid #EEEEEE;
	padding: 19px 0 15px 0;
	text-decoration: none;
}

.menu-box-single:hover {
	color: #FE414D;
}

.menu-box-single:first-child {
	border-top: none;
}

.sticky {
	background-color: white;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}